.navbar {
  margin: 0;
  padding: 0;
}

.navbar .navbar-nav {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.navbar .navbar-nav li.nav-item a {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}

.navbar .navbar-nav li.nav-item:hover {
  background-color: black;
}

.navbar .navbar-nav .nav-after:after {
  content: "";
  display: block;
  border-bottom: solid 3px #019fb6;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.navbar .navbar-nav .nav-after:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.navbar .navbar-nav li.nav-item a#title {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.navbar .navbar-nav li.nav-item img {
  max-height: 50px;
}

.navChange .navbar-nav {
  background-color: #5c6870;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}

.navLiChange {
  background-color: black;
}

.nav-afterChange::after {
  content: "";
  display: block;
  border-bottom: solid 3px #019fb6;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.carousel a.carousel-control-prev:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}

.carousel a.carousel-control-next:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.carousel .carousel-inner img {
  height: calc(100vh - 61px);
}

.carousel .carousel-inner .carousel-caption {
  font-family: 'Monoton', cursive;
}

#introduction {
  margin-bottom: 100px;
}

#introduction div {
  padding: 10px;
  margin: 70px auto 40px;
  border: 3px solid;
  width: 50%;
}

#introduction h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

#Locations {
  text-align: center;
  color: white;
  background-color: black;
  border: 3px solid white;
}

#Locations h2 {
  margin: 70px 0 30px 0;
}

#Locations iframe {
  border-radius: 20px;
  margin: 30px 0 15px 0;
}

#Locations p {
  margin-bottom: 70px;
}
/*# sourceMappingURL=optional.css.map */